/* link google fonts. roboto 100, 400, 700 bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Work+Sans:ital,wght@0,300;0,700;1,900&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* vars colors */

:root {
    /* light mode */
    --clr-bg: #ffffff;
    --clr-bg-main: #dcdcdc4a;
    --clr-bg-details: #4593b7a2;
    --clr-details-pink: #f25563;
    --cl-bg-button: #f1f1f1;
    --cl-bg-button-hover: #ececec;
    --clr-bg-cart: #4593b714;
    --clr-text: #1e1e1e;
    --clr-shadow: #d9d9d9;
}

[data-theme="dark"] {
    /* dark mode */
    --clr-bg: #252525;
    --clr-bg-main: #1e1e1e;
    --clr-bg-details: #4593b76a;
    --clr-details-pink: #f96672bf;
    --cl-bg-button: #232323bd;
    --cl-bg-button-hover: #333232;
    --clr-bg-cart: #333333;
    --clr-text: #f1f1f1;
    --clr-shadow: #3b3b3b;
}

/* general styles */

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

ul {
    list-style-type: none;
}

a, button {
    text-decoration: none;
    color: var(--clr-text);
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

#color-mode {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

#color-mode img:hover {
    cursor: pointer;
}

.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.text-footer {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.links-footer:hover {
    opacity: 80%;
    cursor: pointer;
}

/* nav home products*/

.logo img:hover {
    opacity: 80%;
}

.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.ul-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

#todos, #hombre, #mujer {
    color: var(--clr-text);
}

.button-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    font-size: 1rem;
}

.button-menu.active {
    background-color: var(--cl-bg-button);
    border-radius: 1rem;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
}

.button-menu:hover {
    background-color: var(--cl-bg-button-hover);
    border-radius: 1rem;
}

.button-cart i {
    margin-right: 0.3rem;
}

.littleNumber {
    text-align: center;
    justify-content: center;
    background-color: var(--clr-details-pink);
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    margin-left: 0.2rem;
}

/* main general */

main {
    background-color: var(--clr-bg-main);
    margin: 1rem;
    border-radius: 2rem;
    padding: 3rem;
}

.title-principal {
    color: var(--clr-text);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* main home products */

.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 80%;
}

.product-image {
    max-width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.4rem;
}

.product-price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.product-add {
    padding: 0.3rem 1.5rem 0.4rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: var(--clr-bg-details);
    box-shadow: 2px 2px 5px 1px var(--clr-shadow);
    color: var(--clr-text);
}

.product-add:hover {
    cursor: pointer;
    opacity: 80%;
}

/* nav cart */

.button-back {
    color: var(--clr-details-pink);
}

/* main cart */

.container-cart {
    display: flex;
    flex-direction: column;
}

.cart-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-bg-cart);
    border-radius: 20px;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    padding: 1.3rem;
    margin-top: 2rem;
}

.cart-product-image {
    width: 17%;
}

.cart-product-volume, .cart-product-price, .cart-product-subtotal {
    text-align: center;
}

.cart-products {
    display: flex;
    flex-direction: column;
}

.cart-product-eliminar {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.cart-actions {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-top: 2rem;
}

.cart-actions-total {
    display: flex;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
    gap: 1rem;
}

.cart-actions-buy {
    cursor: pointer;
    width: 100%;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    background-color: var(--clr-bg-details);
    color: var(--clr-text);
    font-size: 1rem;
}

.cart-actions-buy:hover {
    opacity: 80%;
}

.cart-bought {
    margin-top: 2rem;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    display: none;
}

/* main about */

.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 3rem 1rem;
}

.image-company img {
    width: 90%;
    border-radius: 1rem;
}

.title-about {
    margin-bottom: 1rem;
}

.info-about {
    width: 70%;
    text-align: center;
}

.info-about p {
    line-height: 1.7rem;
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    line-height: 1.7rem;
    margin: 2rem;
}

.title-cards-about {
    margin-bottom: 1rem;
}

.info-company {
    background-color: var(--clr-bg);
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    padding: 2rem;
    width: fit-content;
    border-radius: 1.5rem;
}

@media (width < 1000px) {
    .container-products {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .section-about {
        flex-direction: column;
    }
    .info-cards-about {
       font-size: 0.9rem;
    }
}

@media (width < 800px) {
    .cart-product {
        flex-direction: column;
    }
    
    .cart-product-image {
        width: 30%;
        margin-bottom: 0.5rem;
    }

    .cart-product-title {
        text-align: center;
        margin-bottom: 1rem;
    }

    .cart-product-price {
        margin: 1rem 0rem;
    }

    .cart-product-eliminar {
        margin: 1rem 0rem;
    }
}

@media (width < 400px) {
    .container-nav {
        flex-direction: column;
    }

    .container-products {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .info-company {
        padding: 2rem;
        width: 50vh;
    }

    .main-about {
        flex-direction: column;
    }

    .image-company img {
        width: 100%;
        border-radius: 1rem;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .container-nav {
        margin-bottom: 2rem;
    }

    .cart-product-image {
        width: 60%;
        margin-bottom: 0.5rem;
    }

    .cart-actions {
        margin-right: 0rem;
    }
}