/* link google fonts. roboto 100, 400, 700 bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Work+Sans:ital,wght@0,300;0,700;1,900&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* vars colors */

:root {
    /* light mode */
    --clr-bg: #ffffff;
    --clr-bg-main: #dcdcdc4a;
    --clr-bg-details: #4593b7a2;
    --clr-details-pink: #f25563;
    --cl-bg-button: #f1f1f1;
    --cl-bg-button-hover: #dcdcdc;
    --clr-bg-cart: #4593b714;
    --clr-text: #1e1e1e;
    --clr-shadow: #c5c5c5;
}

[data-theme="dark"] {
    /* dark mode */
    --clr-bg: #252525;
    --clr-bg-main: #1e1e1e;
    --clr-bg-details: #4593b76a;
    --clr-details-pink: rgba(249, 102, 114, 0.749);
    --cl-bg-button: #232323bd;
    --cl-bg-button-hover: #333232;
    --clr-bg-cart: #333333;
    --clr-text: #f1f1f1;
    --clr-shadow: #3b3b3b;
}

/* general styles */

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

.general-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.button-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.p-mode {
    font-size: 0.9rem;
}

#color-mode {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

#color-mode i{
    background-color: whitesmoke;
    padding: 1px 2px 0px 1.3px;
    border-radius: 5rem;
}

#color-mode i:hover {
    background-color: var(--clr-shadow);
    cursor: pointer;
}

/* nav aside home products*/

.logo img:hover {
    opacity: 80%;
}

aside {
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#todos, #hombre, #mujer {
    color: var(--clr-text);
}

.button-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    width: 100%;
}

.button-menu.active {
    background-color: var(--cl-bg-button);
    border-radius: 20px;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
}

.button-menu:hover {
    background-color: var(--cl-bg-button-hover);
    border-radius: 2rem;
}

.li-button-cart {
    margin-top: 4rem;
}

.littleNumber {
    background-color: var(--clr-details-pink);
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
}

.text-footer {
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* main general */

main {
    background-color: var(--clr-bg-main);
    margin: 1rem;
    border-radius: 2rem;
    padding: 3rem;
}

#title-principal {
    color: var(--clr-text);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* main home products */

.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.product-image {
    max-width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.4rem;
}

.product-price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.product-add {
    padding: 0.3rem 1.5rem 0.4rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: var(--clr-bg-details);
    box-shadow: 2px 2px 5px 1px var(--clr-shadow);
    color: var(--clr-text);
}

.product-add:hover {
    cursor: pointer;
    opacity: 80%;
}

/* nav aside cart */

.button-back {
    color: var(--clr-details-pink);
}

/* main cart */

.container-cart {
    display: flex;
    flex-direction: column;
}

.cart-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-bg-cart);
    border-radius: 20px;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    padding: 1.3rem;
    margin-top: 2rem;
}

.cart-product-image {
    width: 17%;
}

.cart-product-volume, .cart-product-price, .cart-product-subtotal {
    text-align: center;
}

.cart-products {
    display: flex;
    flex-direction: column;
}

.cart-product-eliminar {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.cart-actions {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-top: 2rem;
}

.cart-actions-total {
    display: flex;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
    gap: 1rem;
}

.cart-actions-buy {
    cursor: pointer;
    width: 100%;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    border: none;
    text-align: center;
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    background-color: var(--clr-bg-details);
    color: var(--clr-text);
    font-size: 1rem;
}

.cart-actions-buy:hover {
    opacity: 80%;
}

.disabled {
    display: none;
}

/* main about */

.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 3rem 1rem;
}

.image-company img {
    width: 90%;
    border-radius: 1rem;
}

.title-about {
    margin-bottom: 1rem;
}

.info-about {
    width: 70%;
    text-align: center;
}

.info-about p {
    line-height: 1.7rem;
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    line-height: 1.7rem;
    margin: 2rem;
}

.title-cards-about {
    margin-bottom: 1rem;
}

.info-company {
    background-color: var(--clr-bg);
    box-shadow: 4px 3px 8px 0px var(--clr-shadow);
    padding: 2rem;
    width: fit-content;
    border-radius: 1.5rem;
}